
$background-color: rgba(112, 112, 236, 0.5);
$dropdown-background: rgba(122, 160, 236, 0.5);
$link-color: black;
$link-hover-color: black;
$dropdown-border: #bf9494;
$white-color: white;

// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$background-color: rgba(112, 112, 236, 0.5);
$dropdown-background: rgba(122, 160, 236, 0.5);
$link-color: black;
$link-hover-color: black;
$dropdown-border: #bf9494;
$white-color: white;

// FONT
$default-font-size: 1rem;