#menu {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.61);
  padding: 0 20px;
  z-index: 1000;

  ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  .main-menu {
    display: none;
    position: relative;
    align-items: center;

    li {
      position: relative;

      &:hover > .sub-menu {
        display: block;
        visibility: visible;
        opacity: 1;
      }

      .sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(128, 128, 128, 0.61);
        padding: 0;
        margin: 0;
        list-style: none;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
        visibility: hidden;
        opacity: 0;

        li {
          &:hover > .sub-menu {
            display: block;
            visibility: visible;
            opacity: 1;
          }
        }

        .sub-menu {
          top: 0;
          left: 100%;
        }
      }
    }

    a {
      color: white;
      text-decoration: none;
      padding: 1em;
      // display: block;
      transition: color 0.125s ease-in-out;

      &:hover {
        color: black;
      }
    }
  }

  #hamburger {
    font-size: 24px;
    cursor: pointer;
    display: block;

    @media only screen and (min-width: 52em) {
      display: none;
    }
  }

  .travel-logo {
    width: 50px;
    margin-right: 80px;
  }

  @media only screen and (min-width: 52em) {
    .main-menu {
      display: flex;
    }
  }
}

#nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(42, 42, 44, 0.829);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;

  .nav-content {
    text-align: center;
  }

  .overlay-menu {
    list-style: none;
    padding: 0;
    line-height: 50px;

    a {
      color: white;
      font-size: 24px;
      line-height: 30px;
      padding: 20px;
      text-decoration: none;
    }

    .sub-menu {
      display: none;
      list-style: none;
    }

    li:hover > .sub-menu {
      display: block;
      list-style: none;
    }
  }

  #close-overlay {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
}
