.section-stories {
  position: relative;
  padding: 1rem 0rem;
  height: auto;

  @media (max-width: 1200px) {
    padding: 10rem 0;
  }

  @media (max-width: 992px) {
    padding: 8rem 0;
  }

  @media (max-width: 768px) {
    padding: 6rem 0;
  }

  @media (max-width: 576px) {
    padding: 1rem 0;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;

  &-content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.story-heading {
  margin-top: 1rem !important;
  text-align: center !important;
}

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 100;
  display: inline-block;
  position: center;
  color: black;
  letter-spacing: 0.1rem;
  transition: all 0.2s;
  padding: 50px;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }

  @media (max-width: 1200px) {
    font-size: 3rem;
  }

  @media (max-width: 992px) {
    font-size: 2.5rem;
  }

  @media (max-width: 768px) {
    font-size: 2rem;
  }

  @media (max-width: 576px) {
    font-size: 1.5rem;
  }
}

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;

  @media (max-width: 576px) {
    // display: -webkit-box;
    display: flex;
    justify-content: center;
    padding: 8px;
    width: 100%;
    margin: 10px;
  }
}

.row {
  .story {
    width: 100%;

    margin: 0 auto 3rem auto;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    background-color: rgba($color-white, 0.6);
    border-radius: 3px;
    padding: 4rem;
    padding-left: 6rem;
    font-size: 1.2rem;

    @media (max-width: 1200px) {
      padding: 5rem;
      padding-left: 8rem;
    }

    @media (max-width: 992px) {
      padding: 4rem;
      padding-left: 7rem;
    }

    @media (max-width: 768px) {
      width: 85%;
      padding: 3rem;
      padding-left: 5rem;
    }

    @media (max-width: 576px) {
      width: 80%;
      padding: 1rem 1rem;
    }

    &-shape {
      width: 16rem;
      height: 12rem;
      float: left;
      top:0rem;
      left: 2rem;
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(40% at 50% 50%);
      transform: translateX(-3rem);
      position: relative;

      @media (max-width: 1200px) {
        width: 13rem;
        height: 13rem;
      }

      @media (max-width: 768px) {
        width: 10rem;
        height: 10rem;
        transform: translateX(-2rem) skewX(12deg);
      }

      @media (max-width: 576px) {
        width: 8rem;
        height: 8rem;

        // margin-top:50px;
        position: relative;
        margin-left: 30px;
        transform: translateX(-1rem);
      }
    }

    &-img {
      height: 100%;
      backface-visibility: hidden;
      transition: all 0.5s;
    }

    &-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      color: $color-white;
      text-transform: uppercase;
      font-size: 1.7rem;
      text-align: center;
      opacity: 0;
      transition: all 0.5s;
      backface-visibility: hidden;

      @media (max-width: 1200px) {
        font-size: 1.5rem;
      }

      @media (max-width: 992px) {
        font-size: 1.4rem;
      }

      @media (max-width: 768px) {
        font-size: 1.3rem;
      }

      @media (max-width: 576px) {
        font-size: 1.2rem;
      }
    }

    &:hover &-caption {
      opacity: 1;
      transform: translate(-50%, -50%);
    }

    &:hover &-img {
      transform: translateX(-4rem) scale(1);
      filter: blur(3px) brightness(80%);
    }
  }
}
